<section class="c-example u-h-100vh bg-red-500 color-white" data-block="thth_custom_block" data-template="default">
  <div class="l-container">
    <div class="l-row">
      <div class="l-col">
        <h2 class="[ font- text-h1 text-center font-sans font-bold tracking-tight ] [color-  ] [ layout- flex flex-row justify-content-center ]">Section title</h2>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
      <div class="l-col"></div>
    </div>
  </div>
</section>
